/* COLORES: #024027 #2D8C5F*/

.main {
    padding-top: 5%;
    padding-bottom: 5%;
}

.Contacto {
    width: 50%;
    text-align: center;
    color:black;
    float: left;
}
.Contacto input,textarea{
    border:none;
    width: 80%;
    max-width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    color:black;
    transition: 0.2s;
    text-align: left;
    background: #eae7e0;
    outline: none;
}
.Contacto button {
    border:none;
    background: #eae7e0;
    width: 85%;
    color: black;
    transition: 0.2s;
    font-size: 20px;
    padding: 2.5%;
    text-align: center;
}
.Contacto button:hover {
    color:white;
    background:black;
    cursor:pointer;
}
.Ubicación {
    width: 50%;
}
.Ubicación iframe{
    width: 100%;
    min-height: 60vh;
}

@media only screen and (max-width: 1000px) {
  .Contacto {
      width: 100%;
      margin-bottom: 5%;
  }
  .Ubicación{
      width: 100%
  }
  .Ubicación iframe{
      width: 100%
  }
}
