footer {
    background: #eae7e0;
    padding-top: 5%;
}
footer .copy {
    padding: 5%;
    justify-content: center;
    display: flex;
}
footer nav{
    width: 25%;
    display: inline-block;
}
footer nav ul li{
    padding: 2%;
    text-align: left;
}
footer .logo {
    width: 40%;
    display: inline-block;
}
footer .logo img{
    margin-left: 20%;
    width: 60%;
}
.footer {
    max-width: 1200px;
}

@media only screen and (max-width: 700px) {

    footer .logo {
        width: 100%;
        display: inline-block;
    }
    footer .logo img{
        margin-left: 0%;
        width: 60%;
        padding-top: 10%;

    }
    footer nav{
        padding-top: 10%;
        width: 100%;
        display: inline-block;
    }
    footer nav ul li{
        text-align: center;
        padding: 1%;
    }
    footer .copy {
        text-align: center;
        padding-top: 10%;
    }

}