* {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: "Noto Sans JP"
}

.Titulo {
    padding: 5%;
    text-align: center;
}

.Titulo h1 {
    font-size: 35px;
}

.Titulo h1 p {
    padding: 2.5%;
}

a {
    color: black;
}

ul {
    list-style: none;
}

a.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    font-size: 15px;
    color: black;
    width: 70%;
    text-decoration: none;
    background: white;
}

a.boton:hover {
    color: white;
    background: #FA4738;
    letter-spacing: 1px;
    cursor: pointer;
}

.limitar {
    justify-content: space-around;
    display: flex;
}

.limitarhijo {
    max-width: 1200px;
    justify-content: space-around;
    display: flex;
}

@media only screen and (max-width: 700px) {
    .limitar {
        justify-content: center;
        display: block;
    }

    .limitarhijo {
        justify-content: center;
        display: block;
    }
}