* {
    padding:0px;
    margin:0px;
    font-size: 18px;
    font-family:"Noto Sans JP"
}
.Titulo {
    padding: 5%;
    text-align: center;
}
.Titulo h1{
    font-size: 35px;
}
.Titulo h1 p{
    padding: 2.5%;
}
a {
    color:black;
}
ul {
    list-style: none;
}
a.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    font-size: 15px;
    color:black;
    width: 70%;
    text-decoration: none;
    background: white;
}
a.boton:hover{
    color:white;
    background:#FA4738;
    letter-spacing: 1px;
    cursor:pointer;
}
.datos {
    background: white;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width:100%;
    color:black;
    display: flex;
    justify-content: center;
}
.datos .contenedor {
    width: calc(1200px - 3%);
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: flex;
    justify-content:flex-end;
}
.datos .contenedor a span{
    display: flex;
    align-items: center;

}
.datos .tel,.correo{
    display: inline-block;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.datos a{
    text-decoration: none;
}
.datos .tel,.correo{
    padding-left: 2.5%;
}
.datos span img{
   width: 22.5px;
   padding: 0;
   margin: 0;
   padding-right: 10px;
}
.datos .what img{
    width: 21px;
}
header {
    background-color: #eae7e0;
    color:black;
    width: 100%;
    display: flex;
    justify-content: center;
}
header .header {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .header .logo{
    width: 15%;
}
header .header .logo img{
    width: 90%;
    padding: 2.5%;
    padding-top: 7.5%;
}
header .header .nav {
    width: 80%;
}
header .header .nav nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
}
header .header .nav nav ul a{
    text-decoration: none;
    color:black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-left: 1.5%;
}

header .header .nav nav ul a:hover, a:focus {
    background-size: 100% 2px;
}
header .header .nav nav ul a.Activo {
    background-size: 100% 2px;
}
header .header .nav nav ul a li{
    list-style: none;
    padding: 15px;
}

.limitar {
    justify-content: space-around;
    display: flex;
}
.limitarhijo {
    max-width: 1200px;
    justify-content: space-around;
    display: flex;
}
.hamburger {
    display: none;
}
.menuppal {
    display: none;
}
@media only screen and (max-width: 700px) {
    header .header .nav {
        display: none;
    }
    header .header .logo{
        width: 50%;
    }
    .limitar {
        justify-content:center;
        display: block;
    }
    .limitarhijo {
        justify-content:center;
        display: block;
    }

    .hamburger{
        display: inline;
        background-color:transparent;
        height:30px;
        width:30px;
        padding:20px 20px;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index:1002;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .hamburger.is-active{
      background-color:none;
    }
    ._layer{
        background:#333333;
        margin-bottom:4px;
        border-radius:2px;
        width:28px;
        height:4px;
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    ._layer:first-child{
        margin-top: 7.5%;
    }
    .hamburger:hover .-top{
        
        -webkit-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    .hamburger:hover .-bottom{
        -webkit-transform:translateY(100%);
        -ms-transform:translateY(100%);
        transform:translateY(100%);
        }
    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
        opacity:0;
    }
    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }
    
    .menuppal.is_active{
      transform: translate3d(0px, 0px, 0px);
    }
    .menuppal{
        display: inline;
       background-color: rgba(255, 255, 255, 0.95);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }
    .menuppal ul{
      margin:0;padding:0;
      margin-top: 15%;
    }
    .menuppal ul li { 
        list-style: none;
        text-align:center;
        font-family: Verdadna, Arial, Helvetica;
        color:red;
        font-size:1.5em;
        line-height:3em;
        height:3em;
        color:#369;
        text-transform:none;
        
    }
    .menuppal ul li a{
      text-decoration:none;
      color:black;
      font-weight:bold;
      font-size: 25px;
    }
    .menuppal ul li a:hover{
      text-decoration:none;
      color:#333;
    }
  }
  @media only screen and (max-width: 700px) {
    header .header .nav {
        display: none;
    }
    header .header .logo{
        width: 80%;
        display: flex;
        align-items:center ;
    }
    header .header .logo img{
        width: 60%;
        margin-left: 20%;
        padding: 1%;
        padding-top: 5%;
    }

    .hamburger {
        width: 20%;  
    }
  }
  @media only screen and (max-width: 600px) {
    .datos .correo {
        display: none;
    }
    .datos .tel {
       margin-left: 7.5%;
    }
    .datos .contenedor{
        display: flex;
        justify-content: center;
        padding-left: 1%;
        padding-right: 1%;
    }
    
  }