.TituloPres {
    padding: 5% 2.5% 5% 2.5%;
    text-align: center;
}
.TituloPres h1{
    font-size: 30px;
}

.presupuesto {
    width: 100%;
    color:black;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}
.presupuesto .contenedor {
    max-width: 1200px;
}
.presupuesto form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presupuesto form div{
    width: 50%;
}
.presupuesto input,textarea{
    border:none;
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    color:black;
    transition: 0.2s;
    text-align: left;
    background: #eae7e0;
    outline: none;
}
.presupuesto textarea{
    resize:none;
    min-height: 325px;
    margin-bottom: 0px;
}
.presupuesto button {
    border:none;
    display: inline-block;
    width: 95%;
    background: #eae7e0;
    text-decoration: none;
    transition: 0.2s;
    font-size: 16px;
    color:black;
    letter-spacing: 1px;
    padding: 2%;
}
.presupuesto button:hover {
    color:white;
    background:#FA4738;
    letter-spacing: 2px;
    cursor:pointer;
}
/* SERVICIOS */
.main .servicios {
    background: #eae7e0;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
}
.main .servicios > h1{
    text-align: center;
    font-size: 40px;
}
.main .servicios .contenedor {
    max-width: 1200px;
}
.main .servicios div.box {
    width: 32.383%;
    padding: 0.3%;
    align-items: center;
    display: inline-block;
}
.main .servicios div.box h1{
    font-size: 20px;
    min-height: 7.5vh;
}

.main .servicios div.box img {
    width: 100%;
    background: #eae7e0;
    padding-bottom: 2.5%;
    padding-top: 5%;
}

.main .servicios .mas {
    text-align: center;
    padding-top: 5%;
}
.main .servicios .mas a{
    display: inline-block;
    width: 33%;
    padding: 1.25%;
    background: white;
    text-decoration: none;
    transition: 0.2s;
}
.main .servicios .mas a:hover {
    color:white;
    background:#FA4738;
    cursor:pointer;
    letter-spacing: 1px;
    transition: 0.15s;
}
/* INFO */
.main .info {
    max-width: 1200px;
    padding-top: 10%;
    padding-bottom: 10%;
}
.main .info .contenedor {
    justify-content: space-around;
    display: flex;
}
.main .info .contenedor div {
    width: 30%;
    padding: 1.5%;
    text-align:center;
}
.main .info .contenedor div img{
    width: 30%;
}
.main .info .contenedor div h2{
    padding: 7.5%;
    padding-bottom: 2.5%;
}
@media only screen and (max-width: 700px) {
    /* SERVICIOS */
    .main .servicios div.box {
        width: 95%;
        padding: 2.5%;
        align-items: center;
        margin-bottom: 5%;
    }
    .main .servicios > h1{
        text-align: center;
        font-size: 30px;
        padding: 2.5%;
    }
    .main .servicios div.box img {
        width: 60%;
    }

    .main .servicios div.box h1{
        font-size: 20px;
        min-height: auto;
        padding-bottom: 2.5%;
    }
    .main .servicios .mas a{
        width: 50%;
        padding: 3%;
    }
    /* INFO */
    .main .info .contenedor {
        justify-content:center;
        align-items: center;
        display:inline-block;
    }
    .main .info .contenedor div {
        display: inline-block;
        width: 95%;
        margin-bottom: 10%;
    }
    .main .info .contenedor div img{
        width: 20%;
    }
    .presupuesto  {
        width: 95%;
        padding: 2.5%;
        margin-bottom: 10%;
    }
    .presupuesto form {
        width: 100%;
        display: inline;
    }
    .presupuesto form div{
        width: 100%;
    }
    .presupuesto input,textarea{
        width: calc(100% - 30px);
        margin-bottom: 15px;
    }
    .presupuesto textarea{
        min-height: 325px;
        margin-bottom: 15px;
    }
    .presupuesto button {
        width: 100%;
    }
}