/* SERVICIOS */
.main .servicios {
    background: #eae7e0;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
}
.main .servicios > h1{
    text-align: center;
    font-size: 40px;
}
.main .servicios .contenedor {
    max-width: 1200px;
}
.main .servicios div.box {
    width: 32.383%;
    padding: 0.3%;
    align-items: center;
    display: inline-block;
}
.main .servicios div.box h1{
    font-size: 20px;
    min-height: 7.5vh;
}

.main .servicios div.box img {
    width: 100%;
    background: #eae7e0;
    padding-bottom: 2.5%;
    padding-top: 5%;
}

.main .servicios .mas {
    text-align: center;
    padding-top: 5%;
}
.main .servicios .mas a{
    display: inline-block;
    width: 33%;
    padding: 1.25%;
    background: white;
    text-decoration: none;
    transition: 0.2s;
}
.main .servicios .mas a:hover {
    color:white;
    background:#FA4738;
    cursor:pointer;
    letter-spacing: 1px;
    transition: 0.15s;
}
/* INFO */
.main .info {
    max-width: 1200px;
    padding-top: 10%;
    padding-bottom: 10%;
}
.main .info .contenedor {
    justify-content: space-around;
    display: flex;
}
.main .info .contenedor div {
    width: 30%;
    padding: 1.5%;
    text-align:center;
}
.main .info .contenedor div img{
    width: 30%;
}
.main .info .contenedor div h2{
    padding: 7.5%;
    padding-bottom: 2.5%;
}
@media only screen and (max-width: 700px) {
    /* SERVICIOS */
    .main .servicios div.box {
        width: 95%;
        padding: 2.5%;
        align-items: center;
        margin-bottom: 5%;
    }
    .main .servicios > h1{
        text-align: center;
        font-size: 30px;
        padding: 2.5%;
    }
    .main .servicios div.box img {
        width: 60%;
    }

    .main .servicios div.box h1{
        font-size: 20px;
        min-height: auto;
        padding-bottom: 2.5%;
    }
    .main .servicios .mas a{
        width: 50%;
        padding: 3%;
    }
    /* INFO */
    .main .info .contenedor {
        justify-content:center;
        align-items: center;
        display:inline-block;
    }
    .main .info .contenedor div {
        display: inline-block;
        width: 95%;
        margin-bottom: 10%;
    }
    .main .info .contenedor div img{
        width: 20%;
    }
}