
.proyecto {
    max-width: 1200px;
    margin-bottom: 5%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% - 8px);
    padding: 0 4px;
}

.column {
    -ms-flex: calc(50% - 8px);
    flex: 50%;
    max-width:calc(50% - 8px);
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
