.proyectos {
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.proyectos .contenedor {
    width: 1200px;
}

.proyectos div.box {
    width: 100%;
    align-items: center;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectos div.box h1 {
    font-size: 20px;
    padding-bottom: 5%;
}

.proyectos div.box img {
    width: 50%;
    background: #eae7e0;
    object-fit: cover;
    height: 40vh;
}

.proyectos div.box .texto {
    width: 40%;
    margin-left: 7.5%;
}

.proyectos div.box .texto p {
    padding-bottom: 5%;

}

.proyectos div.box .texto a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    font-size: 15px;
    color: white;
    width: 50%;
    text-decoration: none;
    background: black;
}

.proyectos div.box .texto a:hover {
    background: #FA4738;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.15s;
}

@media screen and (max-width: 600px) {

    .proyectos div.box {
        display: inline-block;
        width: 90%;
        padding: 5%;
    }

    .proyectos div.box img {
        width: 100%;
    }

    .servicios div.box .texto {
        width: 100%;
        margin: 0;
        padding-top: 5%;
    }
}