.servicios {
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.servicios .contenedor {
    max-width: 1200px;
    padding: 0;
    margin: 0;
}

.servicios div.box {
    width: 49%;
    margin-bottom: 2.5%;
    display: inline-block;
}

.servicios div.box h1 {
    font-size: 20px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.servicios div.box img {
    width: 90%;
    margin-left: 5%;
    object-fit: cover;
    height: 40vh;
}

.servicios div.box .texto {
    width: 90%;
    margin-left: 5%;
}

.servicios div.box .texto p {
    padding-bottom: 5%;
}

.servicios div.box .texto a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    font-size: 15px;
    color: white;
    width: 50%;
    text-decoration: none;
    background: black;

}

.servicios div.box .texto a:hover {
    background: #FA4738;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.15s;
}

@media screen and (max-width: 600px) {
    .servicios div.box {
        width: 90%;
        padding: 5%;
    }

    .servicios div.box img {
        width: 100%;
        margin: 0%;
    }

    .servicios div.box .texto {
        width: 100%;
        margin: 0;
        padding-top: 5%;
    }
}